{% extends "base.html" %}
  {% block body_block %}
  <style>
     a { color: #000000; }
     a:hover{color:#000000; text-decoration:none;}
  </style>
    <title>{{article.title}}</title>
    <h1 class="mt-5">ARTICLES</h1>
    <hr color="grey">
    {% for article in articles %}
    <div class="card mb-3">
      <span title="{{article.title}}">
      <a href="{%url 'articles:detail' slug=article.slug %}">
      <div class="card-body">
        <h3 class="card-title">{{article.title}}</h3>
      <div class="card-subtitle mb-1 text-muted">
        <p>{{article.type}}</p>
        <p>By {{article.author}}</p>
        <p>{{article.date}}</p>
      </div>
      <div>
      <img class="card-img-top" src="{{article.thumb.url}}" alt="NO IMAGE FOUND">
    </div>
      <p class="card-text pt-2">{{article.description}}</p>
    </div>
    </a>
    </span>
  </div>
    {% endfor %}
  {% endblock %}
