{% extends "base.html" %}
  {% block body_block %}
    <title>{{article.title}}</title>
    <h2 class="pt-5">{{article.title}}</h2>
    <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
    <p>By {{article.author}}</p>
    <p>{{article.type}}</p>
    <p>{{article.date}}</p>
    <p>{{article.body|linebreaks}}</p>
    </div>
    <div class="col-lg-4 col-md-4 col-12 pt-4">
      <img src="{{article.thumb.url}}" alt="NO IMAGE FOUND" height="400px" width="600px">
    </div>
    </div>
       <button id="shareButton" onclick="share(this)">
        Share
        <div class="container">
          <div class="addthis_inline_share_toolbox"></div>
          
          <!--for old users of AddThis-->
          <div class="addthis_sharing_toolbox"></div>
        </div>
      </button>
    </div>
    </div>


  {% endblock %}