{% extends "base.html" %}
{% load static %}
  {% block body_block %}
  <style>
    #mission{
      font-size:1.3em;  
    }
  </style>
<h1 class="pt-5">OUR MISSION</h1>
   <hr color="grey">
<p id='mission'>At Turf Football, we believe in producing the best footballing content for our readers. Our aim is to give you a different perspective on football and cover some of the hidden stories that often go unnoticed. We strive to bring about different opinions from different parts of the world and we dream of creating an impact on society through football.</p>


   <h1 class="pt-5">FOUNDERS</h1>
   <hr color="grey">
      <h2 class="pt-3">Vansh Ambashta</h2>
      <div class="row pt-2 mb-5">
      <div class="col-6">
        <div class="text-muted">
        <br>B.Tech, Mechanical Engineering</br>
        <br>Motilal Nehru National Institute of Technology, Allahabad </br>
      </div>
      </div>
      <div class="col-6"><img src="{% static 'images/vansh.jpeg' %}" alt="teri photo" style="width:300px;height:300px"></div>
      </div>

      <h2 class="pt-1">Chaitanya Shashwat</h2>
      <div class="row pt-2 mb-5">
      <div class="col-6">
        <div class="text-muted">
        <br>B.Tech, Civil Engineering</br>
        <br>National Institute of Technology Surathkal </br>
      </div>
      </div>
      <div class="col-6"><img src="{% static 'images/chetu.jpeg' %}" alt="meri photo" style="width:300px;height:300px"></div>
    </div>
{% endblock %}
