{% extends "base.html" %}
{% load static %}
  {% block body_block %}
   <h1 class="pt-5">FOUNDERS</h1>
   <hr color="grey">
      <h2 class="pt-5">Vansh Ambashta</h2>
      <div class="row pt-5 mb-5">
      <div class="col-6">
        <div class="text-muted">
        <br>B.Tech, Mechanical Engineering</br>
        <br>Motilal Nehru National Institute of Technology, Allahabad </br>
      </div>
      </div>
      <div class="col-6"><img src="{% static 'images/vansh.jpeg' %}" alt="teri photo" style="width:300px;height:300px"></div>
      </div>

      <h2 class="pt-5">Chaitanya Shashwat</h2>
      <div class="row pt-5 mb-5">
      <div class="col-6">
        <div class="text-muted">
        <br>B.Tech, Civil Engineering</br>
        <br>National Institute of Technology Surathkal </br>
      </div>
      </div>
      <div class="col-6"><img src="{% static 'images/chetu.jpeg' %}" alt="meri photo" style="width:300px;height:300px"></div>
    </div>
{% endblock %}
