{% extends "base.html" %}

  {% block body_block %}
    <h1 class="pt-5">homePage</h1>
    <hr color="grey">
    <div class="row mb-5">
    <div class="col-3">
      <h4>Connect with us at</h4>
      <h6>VANSH AMBASHTA</h6>
      <p>Instagram</p>
      <p>Facebook</p>
      <h6>CHAITANYA SHASHWAT</h6>
      <p>Instagram</p>
    </div>
    <div class="col-9">
    {% for article in articles %}
    {% if forloop.counter < 4 %}
    <div class="row mt-5">
    <div class="col-6">
      <h2><a href="{%url 'articles:detail' slug=article.slug %}">{{article.title}}</a></h2>
      <p>{{article.type}}</p>
      <p>By {{article.author}}</p>
      <p>{{article.date}}</p>
      <p>{{article.description}}</p>
    </div>
    <div class="col-1">
      <img src="{{article.thumb.url}}" alt="NO IMAGE FOUND" style="width:300px;height:200px">
    </div>
  </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
  {% endblock %}
